<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>키워드 등록</h1>
<div>
    <a href="/product/index">메인 페이지로</a>
<form method="post" action="/product/keyword/set" >
    키워드 입력 : <input type="text" name="keyWordname"/>
    내용 입력   : <input type="text" name="keyWordText" />
    <button>추가</button>
</form>
</div>

<div class="keyword-list">

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    //키워드 리스트 를 비동기로 불러오는 함수
    const getKeywordList = ()=>{

    axios.get('/product/keyword/list')
    .then(response=>{
        console.log(response);

        if(response != null){
        const keywordData = response.data;
        keywordData.forEach(data => {CreateKeywordList(data)});

        //리스트 삭제 기능 등록
        addDeleteListeners();
        }


    })
    .catch(error=>console.log(error));



};

    //키워드 불러오기 함수 실행
    getKeywordList();

    //리스트를 목록으로 만들어 화면에 보여준다.
    const keyword_list_el = document.querySelector('.keyword-list');
    const CreateKeywordList = (data)=>{

        //본체
        var list_El = document.createElement('div');
        list_El.style.marginLeft = '10px';

        //리스트 번호
        var list_El_no = document.createElement('input');
        list_El_no.value = data.keyWordNo;
        list_El_no.style.marginLeft = '10px';
        list_El_no.readOnly = true;

        //리스트 이름
        var list_El_name = document.createElement('input');
        list_El_name.value = data.keyWordname;
        list_El_name.style.marginLeft = '10px';

        //리스트 내용
        var list_El_text = document.createElement('input');
        list_El_text.value = data.keyWordText;
        list_El_text.style.marginLeft = '10px';

        //리스트 삭제 버튼
        var list_El_delete = document.createElement('a');
        list_El_delete.className = 'key-delete';
        list_El_delete.setAttribute('key-no',data.keyWordNo);
        list_El_delete.href = "javascript:void(0)";
        list_El_delete.textContent = "삭제";
        list_El_delete.style.marginLeft = '10px';

        //묶기
        list_El.appendChild(list_El_no);
        list_El.appendChild(list_El_name);
        list_El.appendChild(list_El_text);
        list_El.appendChild(list_El_delete);

        keyword_list_el.appendChild(list_El);
    };



    //리스트 삭제 기능
    const addDeleteListeners = () => {

    const key_delete_El = document.querySelectorAll('.key-delete');
    console.log(key_delete_El);
    key_delete_El.forEach( (keys_El) => {

        keys_El.addEventListener('click',function(){
            const no = keys_El.getAttribute('key-no');

            axios.delete("/product/keyword/delete/"+no)
            .then(response=>{
                location.reload();

            })
            .catch(error=>console.log(error));

        })

    });

    };

</script>
</body>
</html>